# CLI.
click==8.0.4
typer

# Parsing.
# TODO: Add as as normal PyPI dependency one a new release is published.
git+https://github.com/microsoft/Simplify-Docx.git@refs/pull/18/merge
pydantic

# GenerateDS Output Dependencies
six
lxml
